body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


/* Leaderboards */
.board-group-toggle {
  display: none;
}

.loading-indicator-parent {
    width: 100%;
    display: table;
}

.loading-indicator {
    font-size: 4em;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 400px;
}

.fade-in.ng-enter.ng-enter-active {
   opacity: 1;
}

.fade-in.ng-enter {
    -webkit-transition: 0.2s ease-in all;
    -moz-transition: 0.2s ease-in all;
    -o-transition: 0.2s ease-in all;
    transition: 0.2s ease-in all;
    opacity: 0;
}

/*.fade-in.ng-enter, .fade-in.ng-leave.ng-leave-active {
    opacity: 0;
}

.fade-in.ng-leave, .fade-in.ng-enter.ng-enter-active {

}*/

@media (max-width: 767px) {
  
  .board-group-toggle {
    display: block;
  }
  
  .board-selector {
    display: none;
  }
  
  .board-group-heading {
    display: none;
  }
  
  .board {
    display: none;
  }
  
  .boardVisible {
    display: block;
  }
}