body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Open Sans', Arial, sans-serif;
}

footer {
    padding-top: 20px;
    text-align: center;
}

footer span {
    display: inline-block;
}

footer span:nth-child(1n + 2) {
    padding-left: 12px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}


/* Leaderboards */
.board-group-toggle {
    display: none;
}

.board-group-toggle-details, .board-group-toggle {
    margin-bottom: 1em;
}

.loading-indicator-parent {
    width: 100%;
    display: table;
}

.loading-indicator {
    font-size: 4em;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 400px;
}

.fade-in.ng-enter.ng-enter-active {
   opacity: 1;
}

.fade-in.ng-enter {
    -webkit-transition: 0.2s ease-in all;
    -moz-transition: 0.2s ease-in all;
    -o-transition: 0.2s ease-in all;
    transition: 0.2s ease-in all;
    opacity: 0;
}

/*.fade-in.ng-enter, .fade-in.ng-leave.ng-leave-active {
    opacity: 0;
}

.fade-in.ng-leave, .fade-in.ng-enter.ng-enter-active {

}*/

.player-details-player-list .col-sm-4 {
    width: 100%;
}

.player-details-profile {
    z-index: 10;
	position: relative;
    margin-left: 280px;
	background-color: white;
    padding-bottom: 80px;
    transition: margin-left .3s ease;
}

.details-layout.toggled .player-details-profile {
    margin-left: 0px;
}

.player + footer {
    position: fixed;
    width: inherit;
    bottom: 0;
    z-index: 12;
    height: 80px;
    background: white;
}

.details-layout {
    /*padding-left: 280px;*/
}

.details-layout.toggled {
	padding-left: 0;
}

.player-details-player-list-parent, .player-details-player-list {
    transition: all .3s ease;
    /*cubic-bezier(.11,-0.98,.97,-0.47)*/
}

.details-layout.toggled .player-details-player-list {
	
}

.details-layout.toggled .player-details-player-list-parent {
	width: 0px;
    margin-left: 0px;
}

.player-details-player-list-parent {
	overflow: hidden;
}

.toggle-link {
    position: absolute;
    cursor: pointer;
    left: -10px;
    padding: 5px;
    top: 80px;
    font-size: 1.4em;
    z-index: 10;
}

.player-details-player-list-parent {
	width: 280px;
	top: 0;
    bottom: 80px;
    position: fixed;
	overflow-y: hidden;
	z-index: 5;
    /*margin-left: -280px;*/
	padding: 50px 0px 0px 15px;
}

.player-details-player-list {
    width: 282px;
    background: white;
    position: absolute;
    top: 50px;
    bottom: 0;
    overflow-y: scroll;
}

.player-list-item {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.player-list-input input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, FontAwesome;
}

.player-list-input {
    z-index: 5;
    /*position: fixed;*/
    height: 60px;
    background: rgba(255,255,255,.5);
    max-width: 400px;
}

/* Turn off IE's "clear field" button. */
.player-search::-ms-clear {
    display: none;
}


.player-list-input > div {
    margin-top: 14px;
    position: relative;
}

.player-list-item-playername {
    font-size: 1.2em;
}

.player-list-item-handicap {
    font-size: 1.2em;
}

.player-list-item-name, .player-list-item-image {
    height: 4.8em; /*1.6 * 3 lines*/
}

.player-list-item-image {
    line-height: 4.8em;
    text-align: center;
    vertical-align: middle;
    float: left;
    width: 25%;
    margin-left: -15px;
}

player-list-item-name {
    float: left;
    width: 75%;
    padding-left: 15px;
}

.player-list-item-image .fa-user {
    font-size: 2em;
    line-height: 1.6em; /* this is 3.2 / 2 */
}

/*.player-list-item .fa-user {*/
.player-list-item-wrapper:hover .fa-user {
    font-size: 2.4em;
    line-height: 1.3333333em; /* this is 3.2 / 2.4. */
}

.player-list-item-teamname {
    color: #999;
}

.player-list-item > div:hover {
  
}

.player-list-item a {
    color: black;
    display: block;
}

.player-list a:hover, .player-list a:active, .player-list a:focus {
    text-decoration: none;
}

.clear-icon {
    position: absolute;
    text-align: center;
    line-height: 34px;
    width: 34px;
    cursor: pointer;
    right: 24px;
    top: 0;
    font-size: 1.2em;
    z-index: 9;
}

.clear-icon:hover {
    color: red;
}

.header-link-small {
    display: none;
}

.player-result {
    margin: 14px;
    padding: 16px;
    border: 1px solid #E5E5E5;
    background: #F2F2F2;
    font-size: 1.3em;
    /*box-shadow: 0 0 8px #777;*/
}

/* Team CSS */
.team-details-team-list .col-sm-4 {
    width: 100%;
}

.team-details-profile {
    z-index: 10;
	position: relative;
    margin-left: 280px;
	background-color: white;
    padding-bottom: 80px;
    transition: margin-left .3s ease;
}

.details-layout.toggled .team-details-profile {
    margin-left: 0px;
}

.team + footer {
    position: fixed;
    width: inherit;
    bottom: 0;
    z-index: 12;
    height: 80px;
    background: white;
}

.team-details-team-list-parent, .team-details-team-list {
    transition: all .3s ease;
    /*cubic-bezier(.11,-0.98,.97,-0.47)*/
}

.details-layout.toggled .team-details-team-list {
	
}

.details-layout.toggled .team-details-team-list-parent {
	width: 0px;
    margin-left: 0px;
}

.team-details-team-list-parent {
	overflow: hidden;
}

.team-details-team-list-parent {
	width: 280px;
	top: 0;
    bottom: 80px;
    position: fixed;
	overflow-y: hidden;
	z-index: 5;
    /*margin-left: -280px;*/
	padding: 50px 0px 0px 15px;
}

.team-details-team-list {
    width: 282px;
    background: white;
    position: absolute;
    top: 50px;
    bottom: 0;
    overflow-y: scroll;
}

.team-list-item {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.team-list-input input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, FontAwesome;
}

.team-list-input {
    z-index: 5;
    /*position: fixed;*/
    height: 60px;
    background: rgba(255,255,255,.5);
    max-width: 400px;
}

/* Turn off IE's "clear field" button. */
.team-search::-ms-clear {
    display: none;
}

.team-list-input > div {
    margin-top: 14px;
    position: relative;
}

.team-list-item-teamname {
    font-size: 1.2em;
}

.team-list-item-name, .team-list-item-image {
    height: 3.2em;
}

.team-list-item-image {
    line-height: 3.2em;
    text-align: center;
    vertical-align: middle;
    float: left;
    width: 25%;
    margin-left: -15px;
}

team-list-item-name {
    float: left;
    width: 75%;
    padding-left: 15px;
}

.team-list-item-image .fa-user {
    font-size: 2em;
    line-height: 1.6em; /* this is 3.2 / 2 */
}

/*.team-list-item .fa-user {*/
.team-list-item-wrapper:hover .fa-user {
    font-size: 2.4em;
    line-height: 1.3333333em; /* this is 3.2 / 2.4. */
}

.team-list-item > div:hover {
  
}

.team-list-item a {
    color: black;
    display: block;
}

.team-list a:hover, .team-list a:active, .team-list a:focus {
    text-decoration: none;
}

.clear-icon {
    position: absolute;
    text-align: center;
    line-height: 34px;
    width: 34px;
    cursor: pointer;
    right: 24px;
    top: 0;
    font-size: 1.2em;
    z-index: 9;
}

.clear-icon:hover {
    color: red;
}

.header-link-small {
    display: none;
}

.player-result {
    margin: 14px;
    padding: 16px;
    border: 1px solid #E5E5E5;
    background: #F2F2F2;
    font-size: 1.3em;
    /*box-shadow: 0 0 8px #777;*/
}

.result-date {
    font-weight: bold;
}

/* User management stuff */
.user-list table {
    table-layout: fixed;
}

.user-list th:nth-child(1), .user-name {
    width: 45%;
}

.user-list th:nth-child(2), .user-role {
    width: 35%;
}

.user-list th:nth-child(3), .user-delete {
    width: 20%;
}

.user-list th, .user-list td {
    word-wrap: break-word;
}

.user-row div {
    display: inline-block;
}

.user-row select {
    display: inline-block;
}

.user-list tr.user-row > td {
    padding-top: 14px;
    padding-bottom: 14px;
    vertical-align: middle;
}

.user-row .user-name {
    font-weight: bold;
}

/* Year wizard stuff */

.year-wizard .input-group, .year-wizard input {
    max-width: 500px;
}

.year-wizard .team-select {
    cursor: pointer;
    padding: 10px 15px;
    font-weight: bold;
}

.team-select i {
    visibility: hidden;
}

.team-is-selected i {
    visibility: visible;
}

.team-is-selected {
    background-color: #88DF88;
}

.team-selection-container {
    max-width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.year-wizard .team-selected {
    display: inline-block;
    width: 25px;
}

.team-checkmark {
    color: green;
}

textarea.roster-input {
    width: 50%;
    min-height: 20em;
    margin-bottom: 14px;
    max-width: 50%;
}

/* Matchups */
.matchup-date-detail, .schedule-date-detail {
  margin-bottom: 24px;
  padding: 0 10px 10px 10px;
  border: 1px solid #DDDDDD;
  box-shadow: 0px 2px 3px 0 #AAAAAA;
}

.schedule-date-clearfix:nth-of-type(2n+3) {
	clear: both;
}

.matchup-date-clearfix:nth-of-type(3n+4) {
	clear: both;
}

.matchup {
  margin: auto;
  font-size: 13px;
  padding: 4px 0;

  /*position: relative;
  margin-bottom: 14px;
  padding: 14px 0;
  border: 1px solid #DDDDDD;
  box-shadow: 0px 2px 3px 0 #AAAAAA;*/
}

.matchup-container {
  margin-top: 10px;
}

.matchup > div {
  float: left;
}

.matchup .matchup-left, .matchup .matchup-right {
  width: 36%;
  font-weight: bold;
}

.tee-time {
    width: 20%;
}

.matchup .matchup-vs {
  width: 8%;
  text-align: center;
}

.matchup .matchup-left {
  text-align: right;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.schedule-pairing {
    padding-left: 10px;
}

.schedule-course {
    padding-right: 10px;
    border-right: 1px solid black;
}



@media (max-width: 992px) {
    .header-link-small {
        display: inline;
    }

    .player-list-input .col-xs-12 {
        width: 75%;
    }

    .header-link {
        display: none;
    }
}

@media (max-width: 767px) {

    .player-list-input .col-xs-12 {
        width: inherit;
    }

    .header-link-small {
        display: none;
    }

    .header-link {
        display: inline;
    }

    .board-group-toggle {
        display: block;
    }
  
    .board-selector {
        display: none;
    }
  
    .board-group-heading {
        display: none;
    }
  
    .board {
        display: none;
    }
  
    .boardVisible {
        display: block;
    }
}