body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}


/* Leaderboards */
.board-group-toggle {
    display: none;
}

.board-group-toggle-details, .board-group-toggle {
    margin-bottom: 1em;
}

.loading-indicator-parent {
    width: 100%;
    display: table;
}

.loading-indicator {
    font-size: 4em;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 400px;
}

.fade-in.ng-enter.ng-enter-active {
   opacity: 1;
}

.fade-in.ng-enter {
    -webkit-transition: 0.2s ease-in all;
    -moz-transition: 0.2s ease-in all;
    -o-transition: 0.2s ease-in all;
    transition: 0.2s ease-in all;
    opacity: 0;
}

/*.fade-in.ng-enter, .fade-in.ng-leave.ng-leave-active {
    opacity: 0;
}

.fade-in.ng-leave, .fade-in.ng-enter.ng-enter-active {

}*/


.player-list-item {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.player-list-input input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, FontAwesome;
}

.player-list-input {
    z-index: 5;
    position: fixed;
    height: 60px;
    padding-right: 15px;
    background: rgba(255,255,255,.5);
    width: 100%;
}

.player-list-players {
    padding-top: 50px;
}

.player-list-input > div {
    margin-top: 14px;
    position: relative;
}

.player-list-item-playername {
    font-size: 1.2em;
}

.player-list-item-name, .player-list-item-image {
    height: 3.2em;
}

.player-list-item-image {
    line-height: 3.2em;
    text-align: center;
    vertical-align: middle;
}

.player-list-item-image .fa-user {
    font-size: 2em;
    line-height: 1.6em; /* this is 3.2 / 2 */
}

/*.player-list-item .fa-user {*/
.player-list-item-wrapper:hover .fa-user {
    font-size: 2.4em;
    line-height: 1.3333333em; /* this is 3.2 / 2.4. */
}

.player-list-item-teamname {
    color: #999;
}

.player-list-item > div:hover {
  
}

.player-list-item a {
    color: black;
    display: block;
}

.player-list-item a:hover {
    background: red;
}

.clear-icon {
    position: absolute;
    text-align: center;
    line-height: 34px;
    width: 34px;
    cursor: pointer;
    right: 24px;
    top: 0;
    font-size: 1.2em;
    z-index: 9;
}

.clear-icon:hover {
    color: red;
}

.header-link-small {
    display: none;
}

@media (max-width: 992px) {
    .header-link-small {
        display: inline;
    }

    .player-list-input .col-xs-12 {
        width: 75%;
    }

    .header-link {
        display: none;
    }
}

@media (max-width: 767px) {

    .player-list-input {
        padding-right: 0px;
    }

    .player-list-input .col-xs-12 {
        width: inherit;
    }

    .header-link-small {
        display: none;
    }

    .header-link {
        display: inline;
    }

    .board-group-toggle {
        display: block;
    }
  
    .board-selector {
        display: none;
    }
  
    .board-group-heading {
        display: none;
    }
  
    .board {
        display: none;
    }
  
    .boardVisible {
        display: block;
    }
}