body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Open Sans', Arial, sans-serif;
}

footer {
    padding-top: 20px;
    text-align: center;
}

footer span {
    display: inline-block;
}

footer span:nth-child(1n + 2) {
    padding-left: 12px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 16px 15px 0 15px;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

/* Set width on the form input elements since they're 100% wide by default */
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}


/* Leaderboards */
.board-group-toggle {
    display: none;
}

.board-group-toggle-details, .board-group-toggle {
    margin-bottom: 1em;
}

.loading-indicator-parent, .informational-full-parent {
    width: 100%;
    display: table;
}

.loading-indicator, .informational-full {
    font-size: 2em;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 400px;
}

.fade-in.ng-enter.ng-enter-active {
   opacity: 1;
}

sort-indicator {
    display: inline;
}

.invisible {
    visibility: hidden;
}

.leader-board-data th {
    cursor: pointer;
}

.fade-in.ng-enter {
    -webkit-transition: 0.2s ease-in all;
    -moz-transition: 0.2s ease-in all;
    -o-transition: 0.2s ease-in all;
    transition: 0.2s ease-in all;
    opacity: 0;
}

/*.fade-in.ng-enter, .fade-in.ng-leave.ng-leave-active {
    opacity: 0;
}

.fade-in.ng-leave, .fade-in.ng-enter.ng-enter-active {

}*/

.player-details-player-list .col-sm-4 {
    width: 100%;
}

.player-list-selection .player-list-players {
    padding-bottom: 80px; /* offset for fixed footer - body padding */
}

.player-details-profile {
    z-index: 10;
	position: relative;
    margin-left: 280px;
    padding-bottom: 80px;
    transition: margin-left .3s ease;
}

.details-layout.toggled .player-details-profile {
    margin-left: 0px;
}

.player + footer {
    position: fixed;
    width: inherit;
    bottom: 0;
    z-index: 12;
    height: 80px;
    background: white;
}

.details-layout {
    /*padding-left: 280px;*/
}

.details-layout.toggled {
	padding-left: 0;
}

.player-details-player-list-parent, .player-details-player-list {
    transition: all .3s ease;
    /*cubic-bezier(.11,-0.98,.97,-0.47)*/
}

.details-layout.toggled .player-details-player-list {
	
}

.details-layout.toggled .player-details-player-list-parent {
	width: 0px;
    margin-left: 0px;
}

.player-details-player-list-parent {
	border-right: 1px solid #999;
	overflow: hidden;
}

.toggle-link {
    position: absolute;
    cursor: pointer;
    left: -10px;
    padding: 5px;
    top: 80px;
    font-size: 1.4em;
    z-index: 10;
}

.player-details-player-list-parent {
	width: 280px;
	top: 0;
    bottom: 80px;
    position: fixed;
	overflow-y: hidden;
	z-index: 5;
    /*margin-left: -280px;*/
	padding: 50px 0px 0px 15px;
}

.player-details-player-list {
    width: 282px;
    background: white;
    position: absolute;
    top: 50px;
    bottom: 0;
    overflow-y: scroll;
}

.player-list-item {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.player-list-input input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, FontAwesome;
}

.player-list-input {
    z-index: 5;
    /*position: fixed;*/
    height: 60px;
    background: rgba(255,255,255,.5);
    max-width: 400px;
}

/* Turn off IE's "clear field" button. */
.player-search::-ms-clear {
    display: none;
}


.player-list-input > div {
    margin-top: 14px;
    position: relative;
}

.player-list-item-playername {
    font-size: 1.2em;
}

.player-list-item-handicap {
    font-size: 1.2em;
}

.player-list-item-name, .player-list-item-image {
    height: 4.8em; /*1.6 * 3 lines*/
}

.player-list-item-image {
    line-height: 4.8em;
    text-align: center;
    vertical-align: middle;
    float: left;
    width: 25%;
    margin-left: -15px;
}

player-list-item-name {
    float: left;
    width: 75%;
    padding-left: 15px;
}

.player-list-item-image .fa-user {
    font-size: 2em;
    line-height: 1.6em; /* this is 3.2 / 2 */
}

/*.player-list-item .fa-user {*/
.player-list-item-wrapper:hover .fa-user {
    font-size: 2.4em;
    line-height: 1.3333333em; /* this is 3.2 / 2.4. */
}

.player-list-item-teamname {
    color: #999;
}

.player-list-item > div:hover {
  
}

.player-list-item a {
    color: black;
    display: block;
}

.player-list a:hover, .player-list a:active, .player-list a:focus {
    text-decoration: none;
}

.clear-icon {
    position: absolute;
    text-align: center;
    line-height: 34px;
    width: 34px;
    cursor: pointer;
    right: 24px;
    top: 0;
    font-size: 1.2em;
    z-index: 9;
}

.clear-icon:hover {
    color: red;
}

.header-link-small, .header-link-up {
    display: none;
}

.player-result {
    margin: 2px;
    padding: 10px;
    border: 1px solid #E5E5E5;
    background: #F2F2F2;
    font-size: 1.3em;
    /*box-shadow: 0 0 8px #777;*/
}

.player-stats .row {
	margin-bottom: 14px;
}

.player-stat {
	display: block;
	border-radius: 25px;
	height: 50px;
	margin: auto;
	background: #888;
	color: white;
	vertical-align: middle;
	line-height: 50px;
	width: 50px;
	font-size: 1.3em;
}


/* Team CSS */
.team-details-team-list .col-sm-4 {
    width: 100%;
}

.team-details-profile {
    z-index: 10;
	position: relative;
    margin-left: 280px;
	background-color: white;
    padding-bottom: 80px;
    transition: margin-left .3s ease;
}

.details-layout.toggled .team-details-profile {
    margin-left: 0px;
}

.team + footer {
    position: fixed;
    width: inherit;
    bottom: 0;
    z-index: 12;
    height: 80px;
    background: white;
}

.team-details-team-list-parent, .team-details-team-list {
    transition: all .3s ease;
    /*cubic-bezier(.11,-0.98,.97,-0.47)*/
}

.details-layout.toggled .team-details-team-list {
	
}

.details-layout.toggled .team-details-team-list-parent {
	width: 0px;
    margin-left: 0px;
}

.team-details-team-list-parent {
	overflow: hidden;
}

.team-details-team-list-parent {
	width: 280px;
	top: 0;
    bottom: 80px;
    position: fixed;
	overflow-y: hidden;
	z-index: 5;
    /*margin-left: -280px;*/
	padding: 50px 0px 0px 15px;
}

.team-details-team-list {
    width: 282px;
    background: white;
    position: absolute;
    top: 50px;
    bottom: 0;
    overflow-y: scroll;
}

.team-list-item {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.team-list-input input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, FontAwesome;
}

.team-list-input {
    z-index: 5;
    /*position: fixed;*/
    height: 60px;
    background: rgba(255,255,255,.5);
    max-width: 400px;
}

/* Turn off IE's "clear field" button. */
.team-search::-ms-clear {
    display: none;
}

.team-list-input > div {
    margin-top: 14px;
    position: relative;
}

.team-list-item-teamname {
    font-size: 1.2em;
}

.team-list-item-name, .team-list-item-image {
    height: 3.2em;
}

.team-list-item-image {
    line-height: 3.2em;
    text-align: center;
    vertical-align: middle;
    float: left;
    width: 25%;
    margin-left: -15px;
}

team-list-item-name {
    float: left;
    width: 75%;
    padding-left: 15px;
}

.team-list-item-image .fa-user {
    font-size: 2em;
    line-height: 1.6em; /* this is 3.2 / 2 */
}

/*.team-list-item .fa-user {*/
.team-list-item-wrapper:hover .fa-user {
    font-size: 2.4em;
    line-height: 1.3333333em; /* this is 3.2 / 2.4. */
}

.team-list-item > div:hover {
  
}

.team-list-item a {
    color: black;
    display: block;
}

.team-list a:hover, .team-list a:active, .team-list a:focus {
    text-decoration: none;
}

.clear-icon {
    position: absolute;
    text-align: center;
    line-height: 34px;
    width: 34px;
    cursor: pointer;
    right: 24px;
    top: 0;
    font-size: 1.2em;
    z-index: 9;
}

.clear-icon:hover {
    color: red;
}

.header-link-small {
    display: none;
}

/* Results Table */
.results-table {
    display: none;
}

/*.player-result {
    margin: 14px;
    padding: 16px;
    border: 1px solid #E5E5E5;
    background: #F2F2F2;
    font-size: 1.3em;
    box-shadow: 0 0 8px #777;
}*/

.result-date {
    font-weight: bold;
}

/* User management stuff */
.user-list table {
    table-layout: fixed;
}

.user-list th:nth-child(1), .user-name {
    width: 45%;
}

.user-list th:nth-child(2), .user-role {
    width: 35%;
}

.user-list th:nth-child(3), .user-delete {
    width: 20%;
}

.user-list th, .user-list td {
    word-wrap: break-word;
}

.user-row div {
    display: inline-block;
}

.user-row select {
    display: inline-block;
}

.user-list tr.user-row > td {
    padding-top: 14px;
    padding-bottom: 14px;
    vertical-align: middle;
}

.user-row .user-name {
    font-weight: bold;
}

/* Year wizard stuff */

.year-wizard .input-group, .year-wizard input {
    max-width: 500px;
}

.year-wizard .team-select {
    cursor: pointer;
    padding: 10px 15px;
    font-weight: bold;
}

.team-select i {
    visibility: hidden;
}

.team-is-selected i {
    visibility: visible;
}

.team-is-selected {
    background-color: #88DF88;
}

.team-selection-container {
    max-width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.year-wizard .team-selected {
    display: inline-block;
    width: 25px;
}

.team-checkmark {
    color: green;
}

textarea.roster-input {
    width: 50%;
    min-height: 20em;
    margin-bottom: 14px;
    max-width: 50%;
}

/* score entry */
.score-entry-nav-primary {
    font-size: 14px;
}

.score-entry-nav-secondary {
    position: absolute;
    right: 15px;
    font-size: 12px;
    color: #999;
}

.score-entry-week-contents h3 {
    margin-top: 0;
}


/* TODO: maybe change the display of these? */
.score-entry-week {
    float: left;
    width: 20%;
    font-size: 13px;
    padding: 10px;
    border-radius: 50%;
    display: table;
}

.score-entry-week > a {
    display: table-cell;
    vertical-align: middle;
    width: 90px;
    height: 90px;
}
/* END TODO */

.score-entry-match-container {
    margin-bottom: 24px;
    padding: 10px;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 2px 3px 0 #AAAAAA;
}


.score-entry-matchup-left, .score-entry-matchup-right {
    width: 40%;
}

.score-entry-matchup-first, .score-entry-matchup-second {
    text-align: center;
}

.score-entry-vs {
    text-align: center;
}

.score-entry-matchup-nav {
    margin-bottom: 24px;
}

.match-player-edit {
    margin-top: 16px;
}

.match-player-edit > *, .match-numbers-container > input {
    float: left;
}

.match-player-edit > * {

}

.match-player-edit > select.form-control {
    width: 32%;
}

.match-player-edit .match-team-name {
    width: 18%;
	line-height: 34px;
}

.match-numbers-container {
    width: 48%
}

.match-player-edit > * + * {
    margin-left: 1%;
}

.match-numbers-container > * + * {
    margin-left: 2.08%;
}

.match-player-edit input.form-control {
    width: 31.94%;
}

/* Matchups */
.matchup-date-detail, .schedule-date-detail {
    margin-bottom: 24px;
    padding: 0 10px 10px 10px;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 2px 3px 0 #AAAAAA;
}

.schedule-date-clearfix:nth-of-type(2n+3) {
	clear: both;
}

.matchup-date-clearfix:nth-of-type(3n+4) {
	clear: both;
}

.matchup {
  margin: auto;
  font-size: 13px;
  padding: 4px 0;

  /*position: relative;
  margin-bottom: 14px;
  padding: 14px 0;
  border: 1px solid #DDDDDD;
  box-shadow: 0px 2px 3px 0 #AAAAAA;*/
}

.matchup-container {
  margin-top: 10px;
}

.matchup > div {
  float: left;
}

.matchup .matchup-left, .matchup .matchup-right {
  width: 36%;
  /*font-weight: bold;*/
}

.tee-time {
    width: 20%;
}

.winning-team {
    font-weight: bold;
}

.losing-team {
    font-weight: lighter;
}

.score-bold {
    font-weight: bold;
}

.score-normal {
    font-weight: lighter;
}

.matchup .matchup-vs {
  width: 8%;
  text-align: center;
}

.matchup .matchup-left {
  text-align: right;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.schedule-pairing {
    padding-left: 10px;
}

.schedule-course {
    padding-right: 10px;
    border-right: 1px solid black;
}

.qr-code {
    width: 200px;
    height: 200px;
}

.team-photo {
    width: 100%;
    height: 100%;
}



/* Home page */

.home-page-weekpager .matchup-date-detail {
    padding-top: 10px;
}

.week-page-window {
    overflow: hidden;
    position: relative;
}

.week-page-container {
	margin: 0 44px;
}

.week-page {
    width: 56px;
    margin-right: 6px;
    float: left;
    cursor: pointer;
    text-align: center;
	padding: 6px 0;
    margin-top: 2px;
}

.week-page.playoff {
    border: 2px solid #428bca;
    margin-top: 0;
    border-radius: 6px;
}

.week-page.selected {
	background-color: #428bca;
	color: white;
}

.week-page-wrapper {
    position: relative;
    left: 0;
}

.week-page-wrapper.initialized {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}


.week-pager {
    position: relative;
}

.week-pager .btn {
    position: absolute;
	top: 9px;
}

.week-pager .pager-left {
    left: 0;
}

.week-pager .pager-right {
    right: 0;
}

.team-matchup-result {
    width: 100%;
}

.team-matchup-result td {
    padding: 8px;
    vertical-align: middle;
    font-size: 16px;
}

.team-score {
    width: 60px;
    text-align: center;
}

.week-display-result, .week-display-overview, .week-display-teetime, .week-display-upcoming {
    float: left;
}

.week-display-result, .week-display-upcoming {
    width: 100%;
    right: 220px;
    margin-right: -220px;
    padding-left: 220px;
    position: relative;
}

.week-display-week-info {
    margin-bottom: 8px;
    font-weight: bold;
    color: #999;
}

.week-display-week-info .schedule-course {
    border-color: #999;
}

.week-display-overview, .week-display-teetime {
    width: 220px;
}

.week-display-teetime {
    text-align: center;
    font-weight: bold;
    padding-top: 24px;
}

.week-display-win td:first-child:after {
    content: '(WINNER)';
    color: #5cb85c;
    font-size: 10px;
    position: relative;
    top: -3px;
    display: inline-block;
    padding-left: 8px;
}

.week-display-win td {
    font-weight: bold;
}

.week-display-playoffs-header {
    font-size: 20px;
    background: #428bca;
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 6px;
    margin-left: 12px;
    position: relative;
    top: -4px;
}

.match-summary-metric {
    width: 100%;
    display: table;
    table-layout: fixed;
    font-size: 12px;
    margin-top: 8px;
}

.metric-label {
    display: table-cell;
    width: 64px;
    color: #999;
}

.metric-details {
    display: table-cell;
    width: auto;
}

.metric-value {
    display: table-cell;
    width: 26px;
    text-align: right;
}


.week-display-playoff-type {
    font-weight: bold;
}


@media (max-width: 992px) {
    .header-link-small {
        display: inline;
    }

    .player-list-input .col-xs-12 {
        width: 75%;
    }

    .header-link {
        display: none;
    }
}

@media (max-width: 767px) {

    .match-player-edit > select.form-control {
        width: 64%;
    }
    
    .toggle-link {
        display: none;
    }

    .player-details-player-list-parent {
        width: 0;
        display: none;
    }

    .player-details-profile {
        margin-left: 0;
    }

    .player + footer {
        position: inherit;
        bottom: inherit;
        z-index: inherit;
        height: inherit;
    }

    .player-list-selection .player-list-players {
        padding-bottom: 0;
    }

    .match-player-edit .match-team-name {
        width: 35%;
    }

    .match-player-edit .match-numbers-container {
        width: 100%;
        margin-left: 0;
        margin-top: 8px;
    }

    .match-numbers-container > * + * {
        margin-left: 1%;
    }

    .match-player-edit input.form-control {
        width: 32.6%;
    }

    .player-list-input .col-xs-12 {
        width: inherit;
    }

    .header-link-small, .header-link {
        display: none;
    }

    .header-link-up {
        display: inline;
    }

    .board-group-toggle {
        display: block;
    }
  
    .board-selector {
        display: none;
    }
  
    .board-group-heading {
        display: none;
    }
  
    .board {
        display: none;
    }
  
    .boardVisible {
        display: block;
    }
}

@media (max-width: 500px) {
    .week-display-overview {
        display: none;
    }

    .week-display-result {
        right: 0;
        margin-right: 0;
        padding-left: 0;
        position: relative;
    }

    .week-display-teetime {
        width: 150px;
        text-align: right;
        padding-right: 8px;
    }

    .week-display-upcoming {
        right: 150px;
        margin-right: -150px;
        padding-left: 150px;
        position: relative;
    }
}


/* Bootstrap overrides */
.btn {
	/*border-radius: 0;*/
}