@{
    ViewBag.Title = "Rules & Information";
}

<h2>Rules</h2>
<ol>


    <li><b>Winter Rules</b> - Only within their own fairway shall a player be allowed to lift their ball out of a divot, out of a rough patch or off of bare ground. They may also lift the ball to clean it. The player must then drop their ball according to standard USGA ball dropping rules.</li>

    <li><b>Out of Bounds</b> - If a ball is hit out of bounds, the player may drop his ball two club-lengths from the point where the ball crossed the out of bounds line, but no closer to the hole.  The original stroke is counted and a <i>one stroke penalty</i> is applied.  <b>Note:</b>  This rule applies to par threes as well.</li>

    <li><b>Water Hazard</b> - (<font color="Yellow">Yellow</font> Stakes) You may play the ball as it lies or, <i>under penalty of one stroke,</i> drop any distance behind the water hazard (keeping the point at which the original ball last crossed the margin of the water hazard directly between the hole and the spot on which the ball is dropped), or replay the shot.</li>


    <li><b>Lateral Water Hazard</b> - (<font color="Red">Red</font> Stakes)  You may play the ball as it lies or, you may also, <i>under penalty of one stroke,</i> drop within two club-lengths of (a) the point where the ball last crossed the hazard margin or (b) a point on the opposite hazard margin equidistant from the hole.</li>


    <li><b>Unplayable Lies</b> - Players have three options for unplayable lies:  (a) two club-lengths from where the ball lies, (b) any distance behind keeping the line to the flag, (c) or hitting from the original spot - <i>all under the penalty of one stroke.</i></li>


    <li><b>Lost Ball </b> - Players have three options for playing a lost ball:  (a) two club-lengths from where you think the ball was lost, (b) any distance behind keeping the line to the flag, or (c) hitting from the original spot - <i>all under the penalty of one stroke.</i></li>


    <li><b>Drop Areas</b> - As of 2009, Emerald Greens removed the drop location for Silver #6 and Bronze #5.  To keep league play mellifluous (flowing smoothly), the West Blue Golf League will use a league drop area on the near, right hand corner, proceeding the green. (Or in other words, where the drop location was in previous years or should have been if there wasn't one.  Use common sense.)</li>


    <li><b>Opponent Doesn't show</b> - If a player does not have an opponent, then the scoring will go as follows.  The player automatically gets 6 points for winning the match.  The player will then play against his handicap on a per hole basis.  For example, if a player has a handicap of 9, he would get one stroke on each hole.  Par or less would be worth 2 points.  One over par would be worth 1 point.  If a player does not have an opponent, then the maximum score possible on a hole is par plus 4.  This rule applies only for when a player does not have an opponent!</li>

    <li><b>Late Arrival</b> - If a player shows up late, then his opponent would score the missed holes as described in <b>Opponent Doesn’t show</b>. The missing player would also lose all of the 6 match points. For example, if a player arrives late and catches up with his team on the third hole, then he will receive 0 points for holes one and two and lose the 6 match points.  His opponent will then receive however many points won playing against his own handicap for holes one and two, and the 6 match points.  Lastly, the missed holes for the player who shows up late should be calculated against their handicap.  For example let's say they are an 8 handicap, missed the first two holes with hole #1 being a par 4 and the toughest hole, and hole #2 being a par 4 and the easiest hole.  The late player would then receive a score of 5 on hole #1 (because they get one stroke on this hole) and a 4 on hole #2.  NOTE: They don't score points, we simply do this to calculate their full score for handicaps.</li>

    <li><b>Subs</b> - All dues-paying league players are allowed to sub for any other team within the league. Substitution golfers are not expected or required to compensate the originally scheduled player. Teams are allowed to fill their open tee-time with players from outside the league. The outside player <b>will not</b> be allowed to compete for points</li>

    <li><b>Playoff Ties</b> - If a playoff round ends in a tie, a one-hole playoff, starting on the first hole of the respective course, will be played by all matches.  That is, Team A's #1 will play Team B's #1, Team A's #2 will play Team B's #2, etc.  If a tie exists after the first hole, all match-ups will continue to the second hole.  Handicaps apply just as they always do.</li>

    <li><b>End-of-year Regular Season Ties</b> - If two teams tie at the end of the regular season, the following tiebreaker rules shall be followed for playoff placement.  <b>1st tiebreaker:</b> head to head.  <b>2nd tiebreaker:</b> Most points scored during head to head.  <b>3rd tiebreaker:</b> Regular season record against other teams.  These rules are loosly based on the <a href="http://www.nfl.com/standings/tiebreakingprocedures">NFL tie breaker rules</a>.</li>

    <li><b>GPS</b> - As of 2006, USGA Decision <a href="http://www.usga.org/playing/rules/changes_rules.html">14-3/0.5</a> <i>"allows a Committee to permit the use of distance-measuring devices by Local Rule."</i>  As of 2008, the West Blue Golf League has adopted the use of GPS by its players.  If asked, it's requested that players who choose to use GPS, offer distance checks to players who are in the general vicinity of the player using GPS.  In addition, the use of GPS can not slow down play in any manor.</li>
    <li><b>Max League Handicap</b> - Under the discretion of the West Blue Golf League Commissioner and the League Board of Directors (composed of the team captains), the League reserves the right to ask players who are not able to keep their handicap under or at the 20 handicap cutoff (based on how handicaps are assessed), to give up their position in the league. This is based on Captain’s discretion, unless there is a pace of play issue or it is brought to the attention of the Commissioner.  Players will be refunded for any pre-paid greens fees and league dues.  Players are welcome back after they refine their game and get within the 20 handicap maximum.</li>
</ol>

<h2>Rainouts (formalized in 2015)</h2>
<p>A rainout will not be rescheduled if all groups complete a minimum of 5 holes.</p>
<ol>
    <li>Holes completed will be scored, even if not completed by all groups.</li>
    <li>Holes not completed by a group will be split.</li>
    <li>Winning points will be awarded to the player with the lower 'point score' (the recorded score with any given strokes accounted for). Note: this may not be the same result as you'd get normally by subtracting the total given strokes from a player's score if some stroke holes are not played.</li>
    <li>Recorded score (affects leaderboards) and equitable score (affects handicaps) will be completed out according to "expected" outcomes on holes based on currect handicap. To figure out the expected outcome for a hole, distribute a player's total handicap strokes (not just the difference for their match) across the hardest holes, then record a par on those without a stroke, a bogey on those with a stroke, and a double bogey on those with two strokes. Again, doing this can not affect the points for a match; those are determine by completed holes, halving unfinished holes, and then awarding the 6-point victory to the low-net for completed holes.</li>
</ol>

<h2>Equitable Handicaps</h2>
<p>Handicaps are calculated based on several rules:</p>
<ol>
    <li>Most players handicap is based on a best 4 out of 5 rounds calculation.</li>
    <li><b>New in 2015</b> Equitable score is used, meaning a) players starting the round below 10 handicap can't take more than a double bogey for handicap purposes, while those at or above 10 can't take more than a triple bogey and b) all holes are still played out to completion for scoring/points.</li>
    <li>At the start of the season, existing players have their previous season handicap carried over and back-filled 2 times (allowing the player to use it "3 times"). Their 1st round is then the direct average of their first equitable score and 3x their previous handicap.</li>
    <li>New players get a starting handicap, but it is not back-filled (only use the starting handicap "once"). Their 1st round is the direct average of score and initial handicap, as will be their 3rd and 4th.</li>
    <li>There is a hard maximum of +20 for handicap; any scores recorded more than +20 will <strike>have equitable totals immediately drop to +20</strike> be counted (up to the apparent max of +27), but the final handicap will always come down to +20. Please enter +25 or whatever the true equitable score was for a player.</li>
</ol>
<p>A calculator for equitable scores is available <a href="https://docs.google.com/spreadsheets/d/17dDOmezWNN6oyuk9bSr53oVqJa6rsAzkFpIOSCfobkg#gid=0">here</a>.</p>
<p>A calculator for handicaps is available <a href="https://docs.google.com/spreadsheets/d/17dDOmezWNN6oyuk9bSr53oVqJa6rsAzkFpIOSCfobkg#gid=1050553">here</a>.</p>

<h2>Information</h2>
<ol>
    <li>Emerald Greens requires the use of soft spikes in your golf shoes.</li>
    <li>Emerald Greens requires that each team pay for four tee times per week. If you cannot find a sub, feel free to invite a non-league member to fill the tee-time. This person shall not be allowed to compete for points!</li>
    <li>Playoff scores will count towards a players handicap.</li>
    <li>A player must play a minimum of 3 rounds in order to be eligible for the playoffs and any playoff awards.</li>
    <li>Matches canceled due to bad weather push the season back one week. Emerald Greens requires 16 weeks of golf. (See Rainouts)</li>
    <li>Severe weather cancellation policy/procedures:
        <ul>
            <li>
                Severe weather is defined as weather conditions which endanger the golfer's safety.  Neither light rain, high winds, or unseasonable temperatures are considered safety risks and will not result in postponement of play.  Hard rain, thunderstorms, and extreme cold are all considered unsafe and will result in postponement of play.  Emerald Greens holds the rights for deciding on postponement.
            </li>
            <li>
                Emerald Greens makes the decision whether or not to cancel play do to bad weather.  In some cases, decisions to postpone matches will have to be made at the course. <b>Always assume play is on unless you have hear otherwise.</b>
            </li>
            <li>See Rainouts. <strike><b>Rain After Play Starts</b> - If rains starts while matches are being played, half of the field or more must have completed 5 holes or more to determine matches.  Those not completing matches (5 holes) will have to make them up before season's end.  If less than half of the field does not complete 5 holes, all matches will be nullified.  These matches as well as an entire League cancellation will be reschedule at the discretion of the league President/Secretary.  After 5 holes both players must agree to stop in order to close a match.  In case one player wants to continue, the match must go on or be forfeited.  Handicap will apply up to the point the match was stopped - such as any stroke to be given on a hole not played must not be used to compute the player's net score.</strike></li>
            <li><b>Reimbursement</b> - Greens fee reimbursement will be determined by the course.</li>
        </ul>
    </li>
    <li>New players to the league have four options for establishing a league handicap
        <ul>
            <li>Take 1/2 of your USGA 18 hole handicap.</li>
            <li>Use your handicap from the West White Golf League.</li>
            <li>Turn in a 9 hole score from the league course.</li>
            <li>Turn in a 9 hole score from any course.  Three strokes will be subtracted from your computed handicap as a penalty for not playing the league course.  In this scenario, the maximum handicap you can begin with is 17.</li>
            <li>See the rule <b>Max League Handicap</b> for information about our minimum requirement of 20 handicap.</li>
        </ul>
    </li>
    <li>For a high-level introduction to the West Blue Golf League, feel free to see our <a href="http://www.youtube.com/watch?v=QCftyIMWnOg" target="_blank">introduction video</a>.</li>
</ol>

<h2>iPhone App</h2>
<p>Our iPhone App is available for download from TR App Store, Thomson Reuters internal mobile apps site. It isn't yet available on the iTunes App Store.</p>
<div class="col-md-3"><h4>Golf App</h4><img class="qr-code" src="~/Content/images/golfAppQRCode.jpg" /></div>
<div class="col-md-3"><h4>TR App Store App</h4><img class="qr-code" src="~/Content/images/appStoreQRCode.jpg" /></div>
<div class="col-md-6">
    <p>Some notes about the app:</p>
    <ol>
        <li>Internal internet access is required to download the app, so make sure your device is on WLAN-GLOBAL while downloading. Alternatively, you can stop by Mike's cube in the B-building and load the app manually.</li>
        <li>It works best on iPhone, but also iPad; iOS 8 and above.</li>
        <li>The TR App Store app is available here:. From it you can get updates to the app, and also download WestlawNext, Reuters News, Convene, Proview and other in-house products.</li>
    </ol>
</div>