
<div class="row in" id="commishNote">
    <div class="col-md-7 in">
        <div class="bs-callout bs-callout-primary" ng-switch on="!!main.homeData.leagueNote">
            <button type="button" class="close" data-toggle="collapse" data-target="#commishNote" aria-label="Close"><i class="fa fa-times"></i></button>
            <h4>Commissioner's Note</h4>

            <span ng-switch-when="false">
                There are no updates from the commissioner!
            </span>
            <span ng-switch-default>
                {{::main.homeData.leagueNote.text}}
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div pager schedule="main.homeData.schedule" selected-week="main.selectedWeek"></div>

        <div week-display week="main.selectedWeek"></div>
    </div>

    <div class="col-md-5">
        <div ng-if="main.homeData.selectedYear < 2019">
            <h3>Team Standings for {{::main.homeData.selectedYear}}</h3>
            <table class="table">
                <thead>
                <th></th>
                <th>Team</th>
                <th>Points</th>
                </thead>
                <tbody>
                    <tr ng-repeat="boardData in main.homeData.standings.leaderBoardData | orderBy: boardData.rank">
                        <td>{{::boardData.rank}}</td>
                        <td>{{::boardData.entityName}}</td>
                        <td>{{::boardData.formattedValue}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="main.homeData.selectedYear >= 2019">
            <h3>Standings for {{::main.homeData.selectedYear}}</h3>
            <script type="text/javascript">
                var showFirstHalf = function () {
                    $("#firstHalfStandings").show();
                    $("#secondHalfStandings").hide();
                    $("#overallStandings").hide();
                }
                var showSecondHalf = function () {
                    $("#firstHalfStandings").hide();
                    $("#secondHalfStandings").show();
                    $("#overallStandings").hide();
                }
                var showOverall = function () {
                    $("#firstHalfStandings").hide();
                    $("#secondHalfStandings").hide();
                    $("#overallStandings").show();
                }
            </script>
            <div class="btn-group btn-group-lg">
                <button type="button" class="btn btn-default" onclick="showFirstHalf()">First Half</button>
                <button type="button" class="btn btn-default" onclick="showSecondHalf()" autofocus>Second Half</button>
                <button type="button" class="btn btn-default" onclick="showOverall()">Overall</button>
            </div>
            <table class="table" id="firstHalfStandings" hidden>
                <thead>
                <th></th>
                <th>Team</th>
                <th>Points</th>
                </thead>
                <tbody>
                    <tr ng-repeat="boardData in main.homeData.standingsFirstHalf.leaderBoardData | orderBy: boardData.rank">
                        <td>{{::boardData.rank}}</td>
                        <td>{{::boardData.entityName}}</td>
                        <td>{{::boardData.formattedValue}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table" id="secondHalfStandings">
                <thead>
                <th></th>
                <th>Team</th>
                <th>Points</th>
                </thead>
                <tbody>
                    <tr ng-repeat="boardData in main.homeData.standingsSecondHalf.leaderBoardData | orderBy: boardData.rank">
                        <td>{{::boardData.rank}}</td>
                        <td>{{::boardData.entityName}}</td>
                        <td>{{::boardData.formattedValue}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table" id="overallStandings" hidden>
                <thead>
                <th></th>
                <th>Team</th>
                <th>Points</th>
                </thead>
                <tbody>
                    <tr ng-repeat="boardData in main.homeData.standings.leaderBoardData | orderBy: boardData.rank">
                        <td>{{::boardData.rank}}</td>
                        <td>{{::boardData.entityName}}</td>
                        <td>{{::boardData.formattedValue}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="bs-callout">
            <p>Congratulations to the 2023 West Blue League Back-to-Back Champions: It's In The Hole'!</p>
            <img class="team-photo" src="/Content/images/its-in-the-hole-2023.jpg" />
            <!--If external is needed img class="team-photo" src="http://i.imgur.com/tg8aVVB.png" /-->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-7">
        <h3>2023 Year End Tournament</h3>
        <p>
            2023 Year End Tournament - Saturday, September 9th - River Oaks Golf Course, Cottage Grove, MN - 7:30 AM start
        </p>
    </div>
    <!--div class="col-md-5">

        <h3>iPhone App</h3>
        <p>Download the league's <a href="https://jenkinsmobile.int.thomsonreuters.com/job/WestBlueGolfLeague/lastSuccessfulBuild/artifact/output/WirelessDistribution/wireless-distribution.html">West Blue Golf iPhone App</a> from TR App Store, Thomson Reuters internal mobile apps site.</p>
        <div><img class="qr-code" src="/Content/images/golfAppQRCode.jpg" /></div>

    </div-->
</div>

<div class="row" ng-if="main.homeData.selectedYear == 2023">
    
</div>

