
<div class="row in" id="commishNote">
    <div class="col-md-7 in">
        <div class="bs-callout bs-callout-primary" ng-switch on="!!main.homeData.leagueNote">
            <button type="button" class="close" data-toggle="collapse" data-target="#commishNote" aria-label="Close"><i class="fa fa-times"></i></button>
            <h4>Commissioner's Note</h4>

            <span ng-switch-when="false">
                There are no updates from the commissioner!
            </span>
            <span ng-switch-default>
                {{::main.homeData.leagueNote.text}}
            </span>
        </div>
    </div>
    <div class="col-md-5 bs-callout">
        <p>Congratulations to the 2015 West Blue League Champions: Missing Links!</p>
        <img class="team-photo" src="/Content/images/missingLinks15.jpg"/>
        <!--If external is needed img class="team-photo" src="http://i.imgur.com/tg8aVVB.png" /-->
    </div>
</div>

<div class="row">
    <div class="col-md-7 home-page-weekpager">
        <div pager schedule="main.homeData.schedule" selected-week="main.selectedWeek"></div>

        <div week-display week="main.selectedWeek"></div>
    </div>
    <div class="col-md-5">

        <h3>Team Standings for {{::main.homeData.selectedYear}}</h3>
		<table class="table">
            <thead>
                <th></th>
                <th>Team</th>
                <th>Points</th>
            </thead>
            <tbody>
                <tr ng-repeat="boardData in main.homeData.standings.leaderBoardData | orderBy: boardData.rank">
                    <td>{{::boardData.rank}}</td>
                    <td>{{::boardData.entityName}}</td>
                    <td>{{::boardData.formattedValue}}</td>
                </tr>
            </tbody>
        </table>


	    <h3>iPhone App</h3>
        <p>Download the league's <a href="https://jenkinsmobile.int.thomsonreuters.com/job/WestBlueGolfLeague/lastSuccessfulBuild/artifact/output/WirelessDistribution/wireless-distribution.html">West Blue Golf iPhone App</a> from TR App Store, Thomson Reuters internal mobile apps site.</p>
        <div><img class="qr-code" src="/Content/images/golfAppQRCode.jpg" /></div>

    </div>
</div>

<div class="row" ng-if="main.homeData.selectedYear == 2015">
    <div class="col-md-6">
        <h3>2015 Year End Tournament</h3>
        <p>
            2015 Year End Tournament - Saturday, September 26th - River Oaks Golf Course, Cottage Grove, MN - 11:15 AM start
        </p>
    </div>
</div>

