
<div class="week-pager">
    <button class="btn btn-default pager-left" ng-click="selectPrevWeek($event)">
        <i class=" fa fa-chevron-left">
        </i>
    </button>
    <div class="week-page-container">
        <div class="week-page-window">
            <div class="week-page-wrapper clearfix">
                <div class="week-page" ng-repeat="week in schedule.weeks track by $index" ng-click="selectWeek($index)">
                    {{::week.date | date: 'M/d'}}
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-default pager-right" ng-click="selectNextWeek($event)">
        <i class="fa fa-chevron-right"></i>
    </button>
</div>
