<div ng-if="week">
    <h2>{{week.date | date:'MMMM, d'}}</h2>
    <span class="schedule-course" title="Course">{{week.course.name}} ({{week.course.par}})</span>
    <span title="Pairing for week" class="schedule-pairing">{{week.pairing}}</span>
    <div ng-repeat="matchup in week.teamMatchups" class="matchup-date-detail">
	    <div>
		    <div>
				<span ng-class="{'week-display-win': matchup.team1Win }">{{matchup.team1.name}}</span>
				<span ng-if="::matchup.isComplete">
					{{$parent.matchup.team1Points}}
				</span>
			</div>
		    <div>
				<span ng-class="{'week-display-win': matchup.team2Win }">{{matchup.team2.name}}</span>
			    <span ng-if="::matchup.isComplete">
					{{$parent.matchup.team2Points}}
				</span>
		    </div>
	    </div>
		<div ng-if="::matchup.isComplete" class="week-display-overview">
			Summary notes here
		</div>
	    <div ng-if="::!matchup.isComplete" class="week-display-teetime">
		    {{$parent.matchup.teeTimeText}}
	    </div>
		
    </div>
    {{week}}
</div>