
<div ng-show="isLoading" class="loading-indicator-parent">
    <div class="loading-indicator">
        <i class="fa fa-spin fa-spinner"></i>
    </div>
</div>

<div ng-hide="isLoading || !leaderBoardData.leaderBoardData.length" scroll-to-top>
    <table class="table table-striped leader-board-data">
        <thead>
            <tr>
                <th ng-click="doSort('rank')">Rank <sort-indicator sort-key="rank" sort-obj="sort" /></th>
                <th ng-click="doSort('entityName')">Name <sort-indicator sort-key="entityName" sort-obj="sort" /></th>
                <th ng-click="doSort('value')">Value <sort-indicator sort-key="value" sort-obj="sort" /></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="boardData in leaderBoardData.leaderBoardData | orderBy:sort.key:!sort.asc">
                <td class="col-md-2">{{boardData.rank}}</td>
                <td class="col-md-4">{{boardData.entityName}}</td>
                <td>{{boardData.formattedValue}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-show="!isLoading && !leaderBoardData.leaderBoardData.length" class="informational-full-parent">
    <div class="informational-full">
        <p>No data for the current year <i class="fa fa-frown-o"></i></p>
        <p>Check back soon!</p>
    </div>
</div>