
<div ui-view="title">
</div>
<div class="row">
    <div class="list-group col-sm-3 board-selector">
        <div class="text-center board-group-toggle-details">
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-click="currBoard = 'player'" ng-class="{ 'btn-primary active': showPlayerBoards() }">Player</button>
                <button type="button" class="btn btn-default" ng-click="currBoard = 'team'" ng-class="{ 'btn-primary active': showTeamBoards() }">Team</button>
            </div>
        </div>

        <div ng-show="showPlayerBoards()" class="list-group">
            <a ui-sref-active="active" ui-sref="detailsLayout.details({ boardGroup: 'player', id: item.key })" class="list-group-item" ng-repeat="item in boards.player">{{item.name}}</a>
        </div>

        <div ng-show="showTeamBoards()" class="list-group">
            <a ui-sref-active="active" ui-sref="detailsLayout.details({ boardGroup: 'team', id: item.key })" class="list-group-item" ng-repeat="item in boards.team">{{item.name}}</a>
        </div>
    </div>

    <div class="col-sm-9">
        <a class="btn btn-default" role="button" ui-sref="landingPage()"><i class="fa fa-chevron-left"></i> Leader Boards</a>
        <div class="details" ng-hide="isLoading">
            <div ui-view="data"></div>
        </div>
    </div>
</div>