<div class="year-wizard">
    <h2>1. Select League Dates</h2>
    <p>First, we need to select a date range for the league.  The start date should be the <i>earliest</i> that
    a match will ever be played.  &lsquo;Number of weeks&rsquo; are the number of weeks that will be in the season.</p>
    <div>
        <div class="form-group">
            <label for="leagueStartDate">League Start Date</label>
            <div class="input-group">
                <input type="text"
                       id="leagueStartDate"
                       class="form-control"
                       datepicker-popup ng-model="yearInit.startDate"
                       min-date="yearInit.getMinDate()"
                       max-date="yearInit.getMaxDate()"
                       ng-required="true"
                       is-open="yearInit.isOpen"
                       close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="yearInit.open($event)"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="numOfWeeks">Number of Weeks</label>
            <input class="form-control" type="number" id="numOfWeeks" ng-model="numberOfWeeks" ng-required="true" />
        </div>
        <!--<div class="form-group">
            <label for="leagueEndDate">League End Date</label>
            <div class="input-group">
                <input type="text"
                       id="leagueEndDate"
                       class="form-control"
                       datepicker-popup ng-model="yearInit.endDate"
                       min-date="yearInit.getMinDate()"
                       max-date="yearInit.getMaxDate()"
                       ng-required="true"
                       is-open="yearInit.isEndDateOpen"
                       close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="yearInit.openEndDate($event)"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>-->
    </div>

    <h2>2. Select Teams</h2>
    <p>Select the teams that should be scheduled for this season (you will be able to assign players to teams later).</p>
    <div class="team-selection-container">
        <div ng-repeat="team in yearInit.yearInfo.teams" class="team-select" ng-click="yearInit.selectTeam(team)" ng-class="{'team-is-selected': team.isSelected}">
            <i class="fa fa-check team-checkmark"></i> {{team.name}}
        </div>
    </div>

    <h2>3. Select Players</h2>

    <button ng-click="yearInit.saveYear()" class="btn btn-success" ng-disabled="yearInit.processRules()">Save Year</button>

</div>