@model WestBlueGolfLeagueWeb.Models.ViewModels.TeamListViewModel

@{
    ViewBag.Title = "Teams";
    ViewBag.ngApp = "team";
}

@section head {
    <base href="/Team/" />
}

<script>
    var teams = @Html.Raw(JsonHelpers.ToJson(this.Model.TeamsForYear));
</script>


<div class="ng-cloak team">
    <div ui-view></div>
</div>


