
<div ng-controller="list">
    
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" focus-me class="form-control player-search" placeholder="Enter player name" ng-model="nameSearchText">
                <span class="clear-icon" ng-show="nameSearchText" ng-click="nameSearchText = ''"><i class="fa fa-times"></i></span>
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="player in filteredPlayerData = ( playerData | orderBy:'name' | filter: {'name': nameSearchText} )" class="col-sm-4 player-list-item">
            {{player.name}} -- {{player.ch}}
        </div>
        <div ng-show="filteredPlayerData.length == 0" class="col-sm-12">
            no players found!
        </div>
    </div>
</div>