<div class="details-layout" ng-class="toggled">
    <div class="container player-details-player-list">
        <div player-list></div>
    </div>
    <!-- TODO: Player with profile ID of 37 gets a 500 when calling the profile endpoint. -->
    <div class="container-fluid player-details-profile">
        <div class="row">
            <div class="col-md-12">
				<button ng-click="toggled='toggled'">Close</button>
				<button ng-click="toggled=''">Open</button>
                <div ui-view="playerDetails"></div>
            </div>
        </div>
    </div>
</div>