
<h3>{{::currentWeek.selectedWeek.date | date : 'MMMM d, yyyy'}} &mdash; Week {{::currentWeek.selectedWeek.seasonIndex}}</h3>
<!--<div class="clearfix score-entry-week-container">
    <div class="score-entry-week" ng-repeat="matchup in currentWeek.matchups">
        <a href="javascript:;" ui-sref="admin.scoreEntry.week.matchup.edit({weekId: currentWeek.selectedWeek.id, matchupId: matchup.id})">
            <div class="score-entry-matchup-first">
                {{::matchup.team1.name}}
            </div>
            <div class="score-entry-vs">vs</div>
            <div class="score-entry-matchup-second">
                {{::matchup.team2.name}}
            </div>
        </a>
    </div>
</div>-->

<ul class="nav nav-tabs score-entry-matchup-nav">
    <li role="presentation" ng-repeat="matchup in currentWeek.matchups" ui-sref-active="active">
        <a href="javascript:;" ui-sref="admin.scoreEntry.week.matchup.edit({weekId: currentWeek.selectedWeek.id, matchupId: matchup.id})">
            <div class="score-entry-matchup-first">
                {{::matchup.team1.name}}
            </div>
            <div class="score-entry-vs">vs</div>
            <div class="score-entry-matchup-second">
                {{::matchup.team2.name}}
            </div>
        </a>
    </li>
</ul>

<div ui-view></div>
