@model WestBlueGolfLeagueWeb.Models.ViewModels.PlayerListViewModel

@{
    ViewBag.Title = "Players";
    ViewBag.ngApp = "player";
}

@section head {
    <base href="/Player/" />
}

<script>
    var playerYearData = @Html.Raw(JsonHelpers.ToJson(this.Model.PlayersForYear));
</script>


<div class="ng-cloak player">
    <div ui-view></div>
</div>


