@model WestBlueGolfLeagueWeb.Models.ViewModels.PlayerListViewModel

@{
    ViewBag.Title = "Players";
}


<script>
    var playerYearData = @Html.Raw(JsonHelpers.ToJson(this.Model.PlayersForYear));
</script>


<div ng-app="playerList" class="ng-cloak">
    <div ng-include="'/Scripts/player/tpl/playerList.tpl.html'"></div>
</div>


