
@model List<team>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    @foreach (var team in this.Model)
    {
        <li>@Html.ActionLink(team.teamName, "Details", "ResultsTable", new { id = team.id }, null)</li>
    }
</ul>

