
Hello world

<div>
    <ul>
        <li>
            @Html.ActionLink("Account settings", "Index", "Manage")
        </li>
        <li>
            @Html.ActionLink("Manage League Users", "ManageUsers")
        </li>
    </ul>
</div>