
@section head {
    <base href="/LeaderBoards/" />
}

<h2>Leader Boards</h2>

<div ng-app="leaderBoards">
    <div ng-controller="Root">
        <div ng-show="isLoading" class="loading-indicator-parent">
            <div class="loading-indicator">
                <i class="fa fa-spin fa-spinner"></i>
            </div>
        </div>
        <div ui-view ng-hide="isLoading" class="fade-in"></div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/leaderBoards")
}