<?xml version="1.0"?>
<connectionStrings>
  <add name="WestBlue" connectionString="Server=localhost; Database=westbluegolf; Uid=westblue; Pwd=westblue; Convert Zero Datetime=True; Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />
  <add name="WestBlueReadOnly" connectionString="Server=localhost; Database=westbluegolf; Uid=westbluereadonly; Pwd=westbluereadonly; Convert Zero Datetime=True; " providerName="MySql.Data.MySqlClient" />
</connectionStrings>