

<div class="row">
    <div class="col-md-12">
        <h2>{{teamDetails.profileData.teamName}}</h2>
    </div>
</div>
<div class="row player-stats">
    <!--div class="col-md-3">Profile pic here</div-->
    <div class="col-md-9">
        <div class="row">
            <div class="col-xs-4 col-sm-4 text-center"><h4>Week Win/Loss</h4><span class="player-stat">{{teamDetails.profileData.weekRecordString}}</span></div>
            <div class="col-xs-4 col-sm-4 text-center"><h4>Individual Win/Loss</h4><span class="player-stat">{{teamDetails.profileData.individualRecordString}}</span></div>
            <div class="col-xs-4 col-sm-4 text-center"><h4>Avg. Handicap</h4><span class="player-stat">{{teamDetails.profileData.avgHandicap}}</span></div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 text-center"><h4>Win Loss Ratio</h4><span class="player-stat">{{teamDetails.profileData.winLossRatio}}</span></div>
            <div class="col-xs-4 col-sm-4 text-center"><h4>Season Improvement</h4><span class="player-stat">TBD</h4></span></div>
            <div class="col-xs-4 col-sm-4 text-center"><h4>Total Points</h4><span class="player-stat">{{teamDetails.profileData.totalPoints}}</span></div>
        </div>
    </div>
</div>

<h3>Results</h3>
<div ng-repeat="item in teamDetails.profileData.completeMatchups | orderBy:'weekIndex':true" class="row player-result">
    <div class="col-md-2 result-date">{{item.weekDate | date:'MMM d'}}</div>
    <div class="col-md-3">{{item.opponentName}}</div>
    <div class="col-md-3 result-win-loss">{{ item.wasWin ? 'Win' : item.wasLoss ? 'Loss' : 'Tie'}} ({{item.points}} - {{item.opponentPoints}})</div>
    <div class="col-md-3">{{ item.score }} - {{item.opponentScore}}</div>
</div>

<h3>Upcoming Matches</h3>
<div ng-repeat="item in teamDetails.profileData.incompleteMatchups | orderBy:'weekIndex':false" class="row player-result">
    <div class="col-md-2 result-date">{{item.weekDate | date:'MMM d'}}</div>
    <div class="col-md-3">{{item.opponentName}}</div>
    <div class="col-md-3">{{item.courseName}}</div>
    <div class="col-md-3">{{item.teeTime}}</div>
</div>
