<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>TRInternalAppAuth</string>
	<key>CFBundleIdentifier</key>
	<string>com.thomsonreuters.TRInternalAppAuth</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.0.3</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2010-2013 Thomson Reuters Global Resources. All rights reserved. Proprietary and confidential information of TRGR. Disclosure, use, or reproduction without the written authorization of TRGR is prohibited.</string>
	<key>CFBundleGetInfoString</key>
	<string>Thomson Reuters Internal App Authorization</string>
	<key>CFBundleName</key>
	<string>TRInternalAppAuth</string>
</dict>
</plist>
